# Dependencies
node_modules
server/node_modules

# Production Build Output
dist
build

# Environment & Temp Files
.env
.env.local
server/.env
*.log
.DS_Store

# Uploaded Files
server/uploads/*
!server/uploads/.gitkeep
