PORT=5000
MONGO_URI=mongodb+srv://rxignite7_db_user:CAMPUSSHARKS@cluster0.qlx0yd4.mongodb.net/campusshark?retryWrites=true&w=majority
JWT_SECRET=campusshark_super_secret_jwt_key_2026
RAZORPAY_KEY_ID=rzp_test_TOyqd2U2Wrsk8q
RAZORPAY_KEY_SECRET=campusshark_razorpay_secret_2026
